<p>
	<strong>Name:</strong>
  	<%= @user.name %>
</p>
<p>
   <strong>Address:</strong>
    <%= @user.u_address %>
</p>
<p>
	<strong>Town:</strong>
    <%= @user.town %>
</p>
<p>
    <strong>Area:</strong>
    <%= @user.area %>
</p>
<p>
    <strong>Country:</strong>
    <%= @user.country %>
</p>
<p>
   <strong>Postal Code:</strong>
    <%= @user.postal_code %>
</p>
<%= link_to "Back",  users_path %>

<div id='map'></div>

<script type="text/javascript">  
  handler = Gmaps.build('Google');  
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
    markers = handler.addMarkers(<%= raw @user.u_address %>);  
    handler.bounds.extendWith(markers);  
    handler.fitMapToBounds();  
  });  
</script>